
h1,h2,h3,h4,h5,h6{
    color: #f33052;
}
.timeline-image{
    padding-bottom: 50px;
	padding-left: 110px;
	width: 250px;
}
.timeline-heading-left{
    text-align: right;
}
#mainNav {
    background-color: transparent;
}
.fa {
    padding: 20px;
    color: grey;
    padding: 10px;
    margin-left: 40px;
}
.fa:hover {
    color: #f33052;
} 
#contact{
    background-color: darkgray;
}
#portfolio{
	background-color: #f3f3f3;
	text-align: center;
	margin-top: 20px;
}

.portfolio-caption{
	text-align: center;
	padding: 15px;
}
.portfolio_image{
	width: 750px;
	height: 300px;
	border: 2px outset #f33052;
}
.img-circle{
	text-align: center;
	margin-left: 5px;
	width: 120px;
	height: 120px;
}

#skills,
#portfolio,
#about{
	padding-top: 30px;
}
footer{
	background-color: #f3f3f3;
}
.section-heading{
	padding: 20px 0px 20px 0px;
}
a{
	color: grey;
}
a:hover {
	color: #f33052!important;
} 
timeline-image{
	
}